autopep8==1.4.4
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
dnspython==2.0.0
Flask==1.1.2
Flask-Cors==3.0.8
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
lxml==4.5.2
MarkupSafe==1.1.1
numpy==1.17.2
opencv-python==4.1.2.30
pipenv==2018.11.26
pycodestyle==2.5.0
pylint==2.4.4
pymongo==3.10.1
PyPDF2==1.26.0
python-docx-1==0.0.2
requests==2.23.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
typed-ast==1.4.1
urllib3==1.25.9
virtualenv==16.7.5
virtualenv-clone==0.5.3
Werkzeug==1.0.1
wincertstore==0.2
